<% include partials/header %>


<h1>Campgrounds</h1>
<p><a href="/campgrounds/new">Add new campground</a></p>

<% campgrounds.forEach(function(camp) { %>
  <p>
    <b><%=camp.name%></b><br>
    <img src="<%=camp.image%>">
  </p>
<% }) %>

<% include partials/footer %>